<div class="jumbotron">

<h1>Welcome to ImagePick</h1>
<p>A test of how to collect images all together!</p>
<center><button type="button" class="btn btn-danger">Get Pinning!</button></center>




</div>